h1,h2,h3,h4,h5,h6{

    background: linear-gradient(to right bottom, #0500ff 0%, #bd00ff 50% ,#bd00ff 100%);
    background-clip: text;
    color: transparent; 
    font-family: 'Syncopate', sans-serif;

}

h1{
    font-size: 3rem;
}

