

.section_info{

    margin-top: 10vh;
    padding: 30px;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.image_principal{
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.info_principal{
    width: 40vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    
    
}

.descripcion{
    padding-right: 15%;
}

.tittle{
    background: linear-gradient(to right bottom, #0500ff 0%, #bd00ff 50% ,#bd00ff 100%);
    background-clip: text;
    color: transparent; 
    font-family: 'Syncopate', sans-serif;
    font-size: 16px;

  margin:5px;
}


@media (max-width: 768px) {
    
.section_info {
   
    width: 100vw;

}

.image_principal {
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
}



}


@media (max-width: 600px) {
    .section_info{

        margin-top: 10vh;
        padding: 30px;
        width: 100vw;
      
        flex-direction: column;
       
    }

    .descripcion {
         padding-right: 0; 
        padding: 0 10%;
    }
   
    
        .info_principal {
            width: 100vw;
            height: 30vh;
            
           
            align-items: center;
            text-align: center;

            margin-top: 20px;
        }
        
       
        
        

}
